body{
  background: image-url("bg.jpg");
}
.view{
  width:40%;
  // あとでmax-width設定しよ
  margin: 40px auto;
  padding:30px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.view--yellow{
  background: #F7E999;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.view--blue{
  background: #b9dcf4;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.view--pink {
  background: #FFBDA3;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
.view--green {
  background: #CAF4B9;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.view{
  .memoText{
    display:block;
  }
  .memoForm{
    display:none;
  }
}
.view.edit{
  .memoText{
    display: none;
  }
  .memoForm{
    display:block;
  }
}
